.header-bar {
    height: auto;
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;

    .leftSided {
        display: flex;
        align-self: center;
    }

    .rightSided {
        display: flex;
        align-self: center;
    }
}

.fa-icon {
    font-size: 30px;
}
